h1{
    transition:All 0.6s ease-in-out;
    -webkit-transition:All 0.6s ease-in-out;
    -moz-transition:All 0.6s ease-in-out;
    -o-transition:All 0.6s ease-in-out;
    display:block;
    margin:50px auto;
    color:rgba(255,255,255,.8);
    text-align:center;
    font-size:22px;
    font-weight:bold;
}
h1:hover {
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
}
h4{
    display:block;
    margin:20px auto;
    color:rgba(255,255,255,.8);
    text-align:center;
}
body{
    background-color: #000;
}
.ball-box{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin:-120px 0 0 -120px;
    perspective-origin: 1% 1%;
    perspective: 3000px;
}
@-webkit-keyframes rotate3d{
    0%{transform:rotateZ(-30deg) rotateY(0);}
    100%{transform:rotateZ(-30deg) rotateY(360deg);}
}
.ball{
    height: 100%;
    transform-style:preserve-3d;
    -webkit-animation:rotate3d 30s infinite linear;
    /*transform:rotateZ(-30deg) rotateY(0deg);*/
}
.ball:after{
    content: '';
    /**width: 1px; **/
    height: 360px;
    background-color: #ff0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform:translateX(150px) translateY(-20px);
}
.ball > div{
    border: 3px #fff solid;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
/* 鍚勭嚎妗嗗钩鍧囪搴﹁绠楋細360deg/2/5deg */
.ball .line-1{transform: rotateY(0deg);}
.ball .line-2{transform: rotateY(36deg);}
.ball .line-3{transform: rotateY(72deg);}
.ball .line-4{transform: rotateY(108deg);}
.ball .line-5{transform: rotateY(144deg);}
.ball .line-X-1{
    transform: rotateX(90deg) ;
    border: 3px #fff solid;
}

.className{
    -webkit-animation: twinkling 2.2s infinite ease-in-out
}
.animated{
    -webkit-animation-duration:2.2s;
    animation-duration: 2.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
@-webkit-keyframes twinkling{
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes twinkling{
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}